################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.db
*.v2
/.vs/ProjectEvaluation/aicareerbuddy.metadata.v9.bin
*.pdb
*.dll
/AICareerBuddy-DataAccessLayer/obj
/AICareerBuddy-DataAccessLayer/bin/Debug/net8.0
/AICareerBuddy-Entities/obj
/AICareerBuddy-Entities/bin/Debug/net8.0
/Backend/AI CareerBuddy Backend/obj/Debug/net8.0
/Backend/AI CareerBuddy Backend/obj/Release/net8.0
/Backend/AI CareerBuddy Backend/obj
/.vs
/Backend/AI CareerBuddy Backend/bin/Debug/net8.0
/AICareerBuddy-BussinesLayer/bin/Debug/net8.0
/AICareerBuddy-BussinesLayer/obj
/AICareerBuddy-DataAccessLayer
/AICareerBuddy-Entities
/Backend/AI CareerBuddy Backend
